.cover__text {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  grid-area: cover;
  justify-self: center;
  align-self: center;
  align-items: center;
  z-index: 1;
}

@media screen and (max-width: 425px) {

  .cover__text {
    row-gap: 16px;
  }
}