.place {
  display: grid;
  grid-template-columns: 48.8% 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: 
  "title website"
  "image paragraph";
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1025px) {

  .place {
    max-width: 928px;
    column-gap: 32px;
  }

}

@media screen and (max-width: 740px) {

  .place {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

}